PORT=3005
CLIENT_URL=http://localhost:3000

DB_HOST=host
DB_USER=user_name
DB_PASSWORD=password
DB_DATABASE=database
DB_PORT=port

# GMAIL
SMPT_HOST=smtp.gmail.com
SMPT_PORT=587
SMPT_USER=user_email
SMPT_PASSWORD=password


# JWT
JWT_ACCESS_SECRET=access-secret
JWT_REFRESH_SECRET=refresh-secret
JWT_RESET_SECET=reset-secret
